.App {
  text-align: center;
  /* width: fit-content; */
}
.app__form {
  padding: 10px 30px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #d7d7da;
  width: 96% !important;
  margin: 20px 2%;
  border-radius: 100px;
}
.app__formControl {
  display: flex !important;
  /* width: 100% !important; */
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0 !;
}
