.App {
  text-align: center;
  /* width: fit-content; */
}
.app__form {
  padding: 10px 30px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #d7d7da;
  width: 96% !important;
  margin: 20px 2%;
  border-radius: 100px;
}
.app__formControl {
  display: flex !important;
  /* width: 100% !important; */
  flex-direction: row !important;
}
.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0 !important;
}
h3,
h2 {
  margin: 1px;
  color: rgb(52, 50, 50);
}
h3 {
  color: gray;
}
img {
  width: 100px;
  height: auto;
}
.creator {
  font-family: cursive;
  color: blueviolet;
}
.display__user {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  color: rgb(176, 16, 96);
  font-size: 25px;
}
