.message {
  /* padding: 2px; */
  width: fit-content;
  margin: 10px;
  padding: 10px !important;
}
.message__user {
  margin-left: auto;
  background-color: #0b81ff !important;
}
.message__guest {
  background-color: #e9e9eb !important;
}
